---
---

body {
  margin:0 auto;width:98%;padding-top:10px;
  background-size:100%;
  background-position:center -40px,
  bottom center;background-repeat:no-repeat;
  background-attachment:scroll;background-color:#111111;
  color: #dfbd74;
}

nav a {
  margin-right: 10px;
  padding: 3px;
}

textarea:focus {-webkit-transition:height .4s ease-in-out;transition:height .4s ease-in-out;}

#myCarousel {
  margin: 0 auto;
  width: 90%;
}
/*
* {box-sizing:border-box;}
html {}
h1 {font-size:34px;font-family:'Merienda One',sans-serif;}
h2 {font-size:27px;font-family:'Julius Sans One',sans-serif;}
h3 {font-size:24px;font-family:'Julius Sans One',sans-serif;}
h4 {font-size:22px;font-family:'Julius Sans One',sans-serif;}
h5 {font-size:20px;font-family:'Cinzel',sans-serif;}
h6 {font-size:20px;font-family:'Cinzel',sans-serif;}
a {color:#FC3;text-decoration:none;}
a:visited {color:#FC3;text-decoration:none;}
a:hover {color:#fff;text-decoration:none;}
a:active {color:#fff; text-decoration:none;}
*/
/*** Self-hosted fonts ***/
/* latin-ext */
@font-face {
  font-family: 'Julius Sans One';
  font-style: normal;
  font-weight: 400;
  src: local('Julius Sans One'), local('JuliusSansOne-Regular'), url(https://fonts.gstatic.com/s/juliussansone/v5/iU65JP9acQHPDLkdalCF7qW9WqC4OJJkfgA_jCJuPCQ.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Julius Sans One';
  font-style: normal;
  font-weight: 400;
  src: local('Julius Sans One'), local('JuliusSansOne-Regular'), url(https://fonts.gstatic.com/s/juliussansone/v5/iU65JP9acQHPDLkdalCF7iJccsb45t3MJKcv5BJtrIs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family:'Cinzel';
  font-style:normal;
  font-weight:400;
  src:local(Cinzel-Regular),url(https://fonts.gstatic.com/s/cinzel/v4/zOdksD_UUTk1LJF9z4tURA.woff2) format("woff2");
  unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2212,U+2215,U+E0FF,U+EFFD,U+F000;
}
@font-face {
  font-family:'Cinzel';
  font-style:normal;
  font-weight:700;
  src:local(Cinzel-Bold),url(https://fonts.gstatic.com/s/cinzel/v4/L74890HNVnUypqWjqGUt1VtXRa8TVwTICgirnJhmVJw.woff2) format("woff2");
  unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2212,U+2215,U+E0FF,U+EFFD,U+F000;
}
/* latin */
@font-face {
  font-family: 'Merienda One';
  font-style: normal;
  font-weight: 400;
  src: local('Merienda One'), local('MeriendaOne-Regular'), url(https://fonts.gstatic.com/s/meriendaone/v7/bCA-uDdUx6nTO8SjzCLXvegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  src: local('Titillium Web'), local('TitilliumWeb-Regular'), url(https://fonts.gstatic.com/s/titilliumweb/v4/7XUFZ5tgS-tD6QamInJTcSo_WB_cotcEMUw1LsIE8mM.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  src: local('Titillium Web'), local('TitilliumWeb-Regular'), url(https://fonts.gstatic.com/s/titilliumweb/v4/7XUFZ5tgS-tD6QamInJTcZSnX671uNZIV63UdXh3Mg0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Great Vibes';
  font-style: normal;
  font-weight: 400;
  src: local('Great Vibes'), local('GreatVibes-Regular'), url(https://fonts.gstatic.com/s/greatvibes/v4/6q1c0ofG6NKsEhAc2eh-3SYE0-AqJ3nfInTTiDXDjU4.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Great Vibes';
  font-style: normal;
  font-weight: 400;
  src: local('Great Vibes'), local('GreatVibes-Regular'), url(https://fonts.gstatic.com/s/greatvibes/v4/6q1c0ofG6NKsEhAc2eh-3Y4P5ICox8Kq3LLUNMylGO4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  src: local('Oswald Light'), local('Oswald-Light'), url(https://fonts.gstatic.com/s/oswald/v11/l1cOQ90roY9yC7voEhngDBJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  src: local('Oswald Light'), local('Oswald-Light'), url(https://fonts.gstatic.com/s/oswald/v11/HqHm7BVC_nzzTui2lzQTDVtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url(https://fonts.gstatic.com/s/oswald/v11/yg0glPPxXUISnKUejCX4qfesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url(https://fonts.gstatic.com/s/oswald/v11/pEobIV_lL25TKBpqVI_a2w.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

.s1{font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;}
.s2{font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;}
.s3{font-family: 'Great Vibes';
  font-style: normal;
  font-weight: 400;}
.s4{font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;}
.s5{  font-family: 'Merienda One';
  font-style: normal;
  font-weight: 400;}
.s6{font-family:'Cinzel';
  font-style:normal;
  font-weight:700;}
.s7{font-family:'Cinzel';
  font-style:normal;
  font-weight:400;}
.s8{ font-family: 'Julius Sans One';
  font-style: normal;
  font-weight: 400;}
* {box-sizing: border-box;}
html{}
*/

/*
.grbox-1 {width: 8.33%;}
.grbox-2 {width: 16.66%;}
.grbox-3 {width: 25%;}
.grbox-4 {width: 33.33%;}
.grbox-5 {width: 41.66%;}
.grbox-5-half {width: 47.66%;}
.grbox-6 {width: 50%;}
.grbox-7 {width: 58.33%;}
.grbox-8 {width: 66.66%;}
.grbox-9 {width: 75%;}
.grbox-10 {width: 83.33%;}
.grbox-11 {width: 91.66%;}
.grbox-12 {width: 100%;}
[class*="grbox-"] {
    float: left;
    padding: 15px;
    border: 0px solid #ccc;
}
[class*="no"] {
    float: left;
    padding: 0;}
[class*="padd20"]{display:block;padding:20px;}
.row:after {
    content: "";
    clear: both;
    display: block;
}

.hr{border:none; clear:both; height:1px; line-height:0; width:100%; font-size:0; padding:0 ;margin-bottom :20px;background:#F39;box-shadow:0 0px 3px #fff;}
.left {text-align:left;}
.right {text-align:right;}
.center {text-align:center;}
.fleft {float:left;}
.fright {float:right;}
.clear {clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0;}
#Model{text-align:center;margin-top:-10px;margin-bottom:-10px;}#Model h1{font-family: 'Great Vibes';font-style: normal;font-weight: 400;font-size:5.777rem;color:#FC6;text-shadow:0 1px 7px #000,0 3px 5px #fff;}
.cssmfcr3dglove h5{color:#595959;text-shadow:0 1px 3px #fff;}.cssmfcr3dglove p{color:#000;text-shadow:0 1px 3px #fff;}.fixwidth{display:block;width:95%;margin:-150px auto;}
#Slder{margin-top:-50px;top:-30px;text-align:center;padding:24px 20px;background:url('https://raw.githubusercontent.com/cgc-dan/blog/main/myfreecams_giveaway/images/slider_top.png'),url('https://raw.githubusercontent.com/cgc-dan/blog/main/myfreecams_giveaway/images/slider_bottom.png'),url('https://raw.githubusercontent.com/cgc-dan/blog/main/myfreecams_giveaway/images/slider_left.png'),url('https://raw.githubusercontent.com/cgc-dan/blog/main/myfreecams_giveaway/images/slider_right.png');background-repeat:no-repeat;background-size:100%,100%,auto,auto;background-position:top center,bottom center,left 50%,right 50%;}
span.cap{display:none;}ul.slider{margin:0 auto;height:515px;list-style:none;position:relative;width:100%;}ul.slider li{float:left;-moz-transition: 1s;-ms-transition: 1s;-o-transition: 1s;-webkit-transition: 1s;transition: 1s;}ul.slider li.slides {height:465px;overflow:hidden;position:relative;width:99%;z-index:10;-moz-transition: 1s;-ms-transition: 1s;-o-transition: 1s;-webkit-transition: 1s;transition: 1s;}ul.slider li.slides img {display:block;left:48%;opacity:0; position:absolute;top:0;-moz-transform: scale(0.5);-ms-transform: scale(0.5);-o-transform: scale(0.5);-webkit-transform: scale(0.5);transform: scale(0.5);-moz-transition: 1s;-ms-transition: 1s; -o-transition: 1s;-webkit-transition: 1s;transition: 1s;text-align:center;}ul.slider li.slides img.g0,ul.slider li.slides img.g1,ul.slider li.slides img.g2,ul.slider li.slides img.g3,ul.slider li.slides img.g4,ul.slider li.slides img.g5 {margin-left:-51%;margin-top:-28px;}ul.slider li.track {background-color:rgba(0,0,0,0.60);clear:left;margin:-98px auto -20px auto;position:relative;text-align:center;width:96%;z-index:20;box-shadow:0 -4px 22px #000;}ul.slider li.track a {background-color:rgba(255,255,255,0.3);display:inline-block;height:50px;margin:5px;width:110px;opacity:.6;padding:2px 2px;text-align:center;border:1px solid #C93}ul.slider li.track a:hover {background-color:rgba(255,255,255,0.2);box-shadow:0 3px 4px #000;-moz-box-shadow:0 3px 4px #000;-ms-box-shadow:0 3px 4px #000;-o-box-shadow:0 3px 4px #000;-webkit-box-shadow:0 3px 4px #000;opacity:1;border:1px solid #C93}span#slide0:target ~ ul.slider li.slides .g0,span#slide1:target ~ ul.slider li.slides .g1,span#slide2:target ~ ul.slider li.slides .g2,span#slide3:target ~ ul.slider li.slides .g3,span#slide4:target ~ ul.slider li.slides .g4,span#slide5:target ~ ul.slider li.slides .g5{opacity:1;-moz-transform: scale(1);-ms-transform: scale(1);-o-transform: scale(1);-webkit-transform: scale(1);transform: scale(1);}ul.slider li.slides .g0{ margin-left:-552px;opacity:1;-moz-transform: scale(1);-ms-transform: scale(1);-o-transform: scale(1);-webkit-transform: scale(1);transform: scale(1);}span#slide0:target ~ ul.slider li.slides .g0,span#slide1:target ~ ul.slider li.slides .g0,span#slide2:target ~ ul.slider li.slides .g0,span#slide3:target ~ ul.slider li.slides .g0,span#slide4:target ~ ul.slider li.slides .g0,span#slide5:target ~ ul.slider li.slides .g0{opacity:0; -moz-transform: scale(0);-ms-transform: scale(0);-o-transform: scale(0); -webkit-transform: scale(0);transform: scale(0);}li.slides img{width:100%;height:510px;}li.track img{width:100%;height:auto;}span#slide0:target ~ ul.slider li.track .tr0,span#slide1:target ~ ul.slider li.track .tr1, span#slide2:target ~ ul.slider li.track .tr2, span#slide3:target ~ ul.slider li.track .tr3, span#slide4:target ~ ul.slider li.track .tr4, span#slide5:target ~ ul.slider li.track .tr5 {background-color:rgba(255,255,255,.4);border:5px solid rgba(255,255,255,.7);margin-top:-5px;opacity:1;box-shadow:0 4px 5px #C93;}
.fix{display:block;width:90%;margin:10px auto;}.fixpadd50{display:block;position:relative;padding-top:10px;padding-bottom:50px;clear:both;}
*/

#AboutMe h1 {
  display:block;
  width:100%;margin:-10px auto 2px auto;
  font-family: 'Great Vibes', sans-serif;
  text-shadow:0 1px 0 #000;
  color:#dfbd74;
  border-bottom:1px solid #033;}

#AboutMe {
  background:rgba(0,0,0,0.70);
  background:url('https://raw.githubusercontent.com/cgc-dan/blog/main/myfreecams_giveaway/images/bg_wra_top.png'),url('https://raw.githubusercontent.com/cgc-dan/blog/main/myfreecams_giveaway/images/bgs_centered.png');background-repeat:repeat-x,repeat;background-size:auto,100%;background-position:0 0,0 0;background-attachment:scroll;padding:20px 20px;border-radius:7px 7px 0 0;-moz-border-radius:7px 7px 0 0;-ms-border-radius:7px 7px 0 0;-o-border-radius:7px 7px 0 0;-webkit-border-radius:7px 7px 0 0;font-size:17px;
}

#AboutMe p, #blog-start p {
  font-family: 'Titillium Web',
  sans-serif;
  font-size:20px;
  text-shadow:0 1px 0 #000;
  color: yellow;
  opacity:0.6;transition:all .3s;-moz-transition:all .3s;-ms-transition:all .3s;-o-transition:all .3s;
  -webkit-transition:all .3s;
}

@media (min-width: 768px) and (max-width: 1600px) {
  #AboutMe p, #blog-start p {
    font-size:16px;
    text-shadow:0 1px 0 #000;
  }
}

.fix:hover #AboutMe p {
  opacity:1;
}

#wrapper {
  color:#c4a665;
}

.mainheader {
  background:url('https://raw.githubusercontent.com/cgc-dan/blog/main/myfreecams_giveaway/images/bgs_top.png');background-repeat:no-repeat;background-size:99%;background-position:top center;
}

.footer {
  display:block;height:auto;background: url('https://raw.githubusercontent.com/cgc-dan/blog/main/myfreecams_giveaway/images/bgs_bottom.png');background-repeat:no-repeat;background-size:99%;background-position:bottom center;padding-top:70px;padding-bottom:120px;margin-bottom:30px;margin-top:9px;border-top:0px solid #dfbd74;}.footer p{font-size:14px;color:#dfbd74;font-family: 'Titillium Web', Tahoma,sans-serif;font-style: normal;font-weight: 400;display:block;margin:0 auto;}.footer h1{display:block;text-align:left;color:#c4a665;font-size:28px;text-indent:12px;}.footer h2{display:block;text-align:left;font-size:22px;font-family: 'Oswald', Tahoma,sans-serif;color:#c4a665;text-indent:12px;}.fixpadd{padding-top:20px;padding-bottom:20px;}.menu{display:block;text-align:center;padding-top:30px;padding-bottom:160px;margin-top:80px;margin-bottom:-60px;} .menu a:link,.menu a:visited{display:inline-block;padding:14px 35px;text-align:center;font-size:17px;color:#FC3;background:url('https://raw.githubusercontent.com/cgc-dan/blog/main/myfreecams_giveaway/images/btn_center_hover.png');background-repeat:no-repeat;background-position:center -4px;margin-left:10px;transition:all .3s;-moz-transition:all .3s;-ms-transition:all .3s;-o-transition:all .3s;-webkit-transition:all .3s;font-family: 'Titillium Web';font-style: normal;font-weight: 400;}.menu a:hover{color:#fff;background:url('https://raw.githubusercontent.com/cgc-dan/blog/main/myfreecams_giveaway/images/btn_center_active.png');background-repeat:no-repeat;background-position:center 20px;text-shadow:0 0 7px #FF0,0 3px 5px #fff;}.menu a:link:before,.menu a:visited:before,.menu a:hover:before{content:'';display:inline-block;height:40px;width:30px;float:left;margin-left:-43px;background:url('https://raw.githubusercontent.com/cgc-dan/blog/main/myfreecams_giveaway/images/btn_left.png');background-repeat:no-repeat;margin-top:-6px;}.menu a:link:after,.menu a:visited:after,.menu a:hover:after{content:'';display:inline-block;height:40px;width:30px;float:right;margin-right:-43px;background:url('https://raw.githubusercontent.com/cgc-dan/blog/main/myfreecams_giveaway/images/btn_right.png');background-repeat:no-repeat;margin-top:-6px;}.distanta {display:block;width:90%;height:10px;background:url(https://raw.githubusercontent.com/cgc-dan/blog/main/myfreecams_giveaway/images/hr.png);background-repeat:no-repeat;background-size:100%;background-position:top center;margin:-90px auto 4px auto;
}
/*
@-webkit-keyframes crown{from{-webkit-transform:rotateY(360deg);}to{-webkit-transform:rotateY(0deg);}}
@-moz-keyframes crown{from{-moz-transform:rotateY(360deg);}to{-moz-transform:rotateY(0deg);}}
@-ms-keyframes crown{from{-ms-transform:rotateY(360deg);}to{-ms-transform:rotateY(0deg);}}
@-o-keyframes crown{from{-o-transform:rotateY(360deg);}to{-o-transform:rotateY(0deg);}}
@keyframes crown{from{transform:rotateY(360deg);}to{transform:rotateY(0deg);}}
@-webkit-keyframes spinner{from{-webkit-transform:rotate(360deg);}to{-webkit-transform:rotate(-360deg);}}
@-moz-keyframes spinner{from{-moz-transform:rotate(360deg);}to{-moz-transform:rotate(-360deg);}}
@-ms-keyframes spinner{from{-ms-transform:rotate(360deg);}to{-ms-transform:rotate(-360deg);}}
@-o-keyframes spinner{from{-o-transform:rotate(360deg);}to{-o-transform:rotate(-360deg);}}
@keyframes spinner{from{transform:rotate(360deg);}to{transform:rotate(-360deg);}}
@-webkit-keyframes fadeInScale {0% {-webkit-transform:scale(0.6);}100% { -webkit-transform: scale(1);}}
@-moz-keyframes fadeInScale {0% { -moz-transform: scale(0.6);}100% { -moz-transform: scale(1);}}
@-o-keyframes fadeInScale {0% { -o-transform: scale(0.6);}100% { -o-transform: scale(1);}}
@-ms-keyframes fadeInScale {0% { -ms-transform: scale(0.6);}100% { -ms-transform: scale(1);}}
@keyframes fadeInScale {0% { transform: scale(0.6);}100% { transform: scale(1);}}
*/
.clearfix:after {
  clear:both;content:' ';
  display:block;
  font-size:0;
  line-height:0;
  visibility:hidden;
  width:0;
  height:0;
}
* html .clearfix {height:1%;}