---
layout: default
---
<h1>{{ page.title }}</h1>
<p>{{ page.date | date_to_string }} - {{ page.author }}</p>

<div id="blog-start" class="grbox-12">
  <p>{{ content }}</p>
</div>

<div class="fixwidth">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
     {% for bridge in page.bridges %}
        {% if bridge.name == "Vidyasagar Setu" %}
          <div class="item active">
        {% else %}
          <div class="item">
        {% endif %}

          <img src="{{ bridge.url }}" alt="{{ bridge.name }}" style="width:100%; height: 500px;">
          <div class="carousel-caption">
            <h3>{{ bridge.name }}, {{ bridge.time }}</h3>
            <p>{{ bridge.place }}</p>
          </div>
        </div>
      {% endfor %}
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>

  </div>
  </div>

  <div class="fixwidth">
    <div class="fix">
      <div style="display:none" id="AboutMe" class="grbox-12">
        <h1>AboutMe</h1>
        <p>Coming soon...</p>
      </div>
    </div>

    <div class="grbox-12 footer">
      <div class="distanta">&nbsp;</div>
      <div class="grbox-12 fixpadd shadow">
        <div class="grbox-12 center fixpadd"><h1>Thank you for visiting my blogs</h1></div>
    </div>
  </div>
</div>
